<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS"
        android:minSdkVersion="33" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS"
        android:minSdkVersion="33" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        android:minSdkVersion="33"
        />
    <uses-permission
        android:name="android.permission.READ_MEDIA_VIDEO"
        android:minSdkVersion="33"
        />
    <uses-permission
        android:name="android.permission.READ_MEDIA_AUDIO"
        android:minSdkVersion="33"
        />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".JeetEducationApplication"
        android:allowBackup="false"
        tools:replace="android:allowBackup"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.JeetEducation"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity
            android:name=".activity.ConfirmReportCardActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.SelectReportCardActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.SelectReportCardRecipientActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.MenuReportCardActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.MenuManageStudentActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.ProfileActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.LevelTestSettingActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".activity.MenuLevelTestDetailActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.MenuLevelTestActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.MenuBusActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.BusRouteActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.MenuScheduleDetailActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.EditScheduleActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.MenuScheduleActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.CounselDetailActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.SystemNoticeDetailActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.EditNoticeActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.MenuNoticeActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.MenuBriefingReservedListActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.MenuBriefingActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.MenuBriefingDetailActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.EditBriefingActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.AppendRecipientActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.DetailStudentInfoActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.MenuStudentInfoActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.SetPasswordActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.SetAccountActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.SetPhoneNumActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.EditAnnouncementActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.MenuBoardDetailActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MenuAnnouncementActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingsActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.JoinActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.FindCredentialsActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.AgreeTermsActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebViewActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.IntroActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PhotoViewActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="@string/kakao_redirection_scheme" />
            </intent-filter>
        </activity>

        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="kr.jeet.edu.manager.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>